<h4>Internal Server Error refreshing the page will make the error disappear!</h4>
<ng-container *ngIf="error">
  <h5 class="text-danger">Error: {{error.message}}</h5>
  <p class="font-wight-bold">Note: IF You seeing this the there something wrong you have</p>
  <p>What we do next</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>Check the failing requist</li>
    <li>Examing the requist URL - make sure it is correct</li>
    <li>Reproduce the error in postman - If we see the same response, then you have an issue</li>
  </ol>
  <p>Following is the stack trace - this is where your investigation shoud start!</p>
  <code class="mt-5" style="background-color:whitesmoke">{{error.details}}</code>
</ng-container>
